/**************************************************************
****************         VARIABLES          *******************
**************************************************************/
/**************************************************************
******************         MIXINS          ********************
**************************************************************/
.Clearfix {
  *zoom: 1;
}
.Clearfix:before,
.Clearfix:after {
  content: "";
  display: table;
}
.Clearfix:after {
  clear: both;
}
.Flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.Flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
.Order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
/**************************************************************
*****************         CLASSES          *******************
**************************************************************/
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.freeze {
  overflow-y: hidden;
}
/**************************************************************
******************         GENERAL          *******************
**************************************************************/
html {
  box-sizing: border-box;
  font-size: 1em;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: url("../images/bg.jpg");
  color: #3f3f3f;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga";
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
#fouc {
  overflow-x: hidden;
}
h1,
h2,
p {
  margin-bottom: 1em;
}
h1 {
  font-size: 1.3em;
  line-height: 1.2em;
}
h2 {
  font-size: 1.3em;
}
p,
ul,
ol {
  font-size: 0.9em;
  line-height: 1.5em;
}
ul,
ol {
  list-style: square;
}
ol {
  list-style: decimal;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
}
input {
  -webkit-appearance: none;
}
button,
.button,
input[type="submit"] {
  -o-transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
  background: #7970b0;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.04em;
  margin: 1em;
  padding: 1em 1.5em;
  text-transform: uppercase;
}
button:hover,
.button:hover,
input[type="submit"]:hover {
  background: #a7a0d2;
}
.button.phone {
  background-image: url("../images/icons/phone.png");
  padding-left: 4em;
  background-size: 1.9em;
  background-repeat: no-repeat;
  background-position: 10px;
}
.button.email {
  background-image: url("../images/icons/email.png");
  padding-left: 4em;
  background-size: 1.9em;
  background-repeat: no-repeat;
  background-position: 12px;
}
em {
  font-style: italic;
}
strong,
bold {
  font-weight: 600;
}
.backToTop {
  bottom: 5px;
  cursor: pointer;
  right: 0.4em;
  position: fixed;
  text-align: center;
}
.backToTop svg {
  margin-right: 0;
}
/**************************************************************
******************         HEADER          *******************
**************************************************************/
header {
  background: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}
.menu {
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  left: 16px;
  position: absolute;
  top: 29px;
  width: 40px;
  padding: 5px;
}
.logo {
  display: inline-block;
  margin-top: 24px;
  max-width: 187px;
}
/*****************   NAV   *****************/
/*********************************
******      GENERAL      ********
********************************/
nav {
  background: #fff;
  border-bottom: 1px solid #D3D0E1;
  display: none;
  overflow-y: auto;
  padding-bottom: 57px;
  position: fixed;
  text-align: left;
  top: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
nav > ul li {
  text-align: center;
}
nav > ul li a {
  color: #7970b0;
  display: block;
  width: 100%;
  padding: 1em;
}
/* Give the "parent" list items a dropdown arrow to indicate they can be expanded to show a sub-menu */
nav > ul li.parent {
  /*background-size: ;*/
}
/* Don't show any child menus initially. We only want these to appear if the user taps button to display them */
nav > ul li ul {
  display: none;
}
/* Add dividing line between menu items - not necessary for the very last one */
nav > ul li:not(:last-child) {
  border-bottom: 1px solid #7970b0;
}
/* If the list item is a parent, reduce the width of the hyperlink contained within it.
   This reveals the li below, allowing us to use it as a fake button which when clicked displays its child menu */
nav > ul li.parent > a {
  width: 80%;
}
/*********************************
******     1st LEVEL     ********
********************************/
nav > ul > li > a {
  background: #fff;
}
nav > ul > li.parent {
  background: #fff url(../images/icons/submenu.png) 92% 21px no-repeat;
  background-size: 15px 15px;
}
/*********************************
******     2nd LEVEL     ********
********************************/
nav > ul > li > ul > li > a {
  background: #f4f4f4;
}
nav > ul > li > ul > li.parent {
  background: #f4f4f4 url(../images/icons/submenu.png) 92% 21px no-repeat;
  background-size: 15px 15px;
}
/*********************************
******     3rd LEVEL     ********
********************************/
nav > ul > li > ul > li > ul > li > a {
  background: #dfdfdf;
}
nav > ul > li > ul > li > ul > li.parent {
  background: #dfdfdf url(../images/icons/submenu.png) 92% 21px no-repeat;
  background-size: 15px 15px;
}
/**************************************************************
***************         PAGE-CONTENT          *****************
**************************************************************/
.page-content {
  *zoom: 1;
  background: #fff;
  font-size: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 0;
}
.page-content:before,
.page-content:after {
  content: "";
  display: table;
}
.page-content:after {
  clear: both;
}
.text,
.contact-form {
  padding: 2em;
  text-align: center;
}
/**************************************************************
***************             INDEX             *****************
**************************************************************/
.image {
  height: 240px;
  background-size: cover;
  background-position: center;
}
.image.livingroom {
  background-image: url(../images/livingroom.jpg);
}
.image.bathroom {
  background-image: url(../images/bathroom.jpg);
}
/**************************************************************
***************             ABOUT             *****************
**************************************************************/
.image.about-bedroom {
  background-image: url(../images/bedroom.jpg);
}
/**************************************************************
**************             PROJECTS             ***************
**************************************************************/
.image-comparisons {
  margin-bottom: 1em;
}
.image-comparisons article {
  margin-bottom: 1em;
  position: relative;
}
.before {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.gallery .text-block {
  padding-bottom: 0;
}
.gallery-container {
  *zoom: 1;
  background: #fff;
  float: left;
  padding: 1em;
  width: 100%;
}
.gallery-container:before,
.gallery-container:after {
  content: "";
  display: table;
}
.gallery-container:after {
  clear: both;
}
.grid-item {
  -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  box-shadow: 2px 2px 10px #484840;
  margin-bottom: 4%;
}
.grid-item:hover {
  opacity: 0.8;
}
.grid-item,
.grid-sizer {
  width: 48%;
}
.gutter-sizer {
  width: 4%;
}
/**************************************************************
***************             CONTACT             *****************
**************************************************************/
.contact-form {
  padding-top: 0;
  padding-bottom: 1.2em;
}
.contact-form .content {
  margin: 0 auto;
  max-width: 400px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border: 1px solid #3f3f3f;
  border-radius: 3px;
  color: #3f3f3f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}
input[type="submit"] {
  cursor: pointer;
  margin: 1em 0 0 0;
}
label.error {
  color: red;
  display: block;
  margin-bottom: 1em;
}
.success-text {
  padding-top: 0;
}
.success-text h2 {
  line-height: 1.3em;
}
.success {
  border: 1px solid #72AF76!important;
  background: #72AF76!important;
}
/**************************************************************
******************         FOOTER           *******************
**************************************************************/
footer {
  background: #fff;
  font-size: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.social,
.copyright,
.contacts {
  text-align: center;
}
.social img {
  display: inline-block;
  width: 40px;
}
.copyright {
  font-size: 0.8em;
  margin: 2em;
}
.contacts {
  font-size: 1.1em;
  margin: 2em;
}
.contacts a {
  line-height: 1.7em;
}
.contacts a:link {
  color: #3f3f3f;
}
.contacts a:hover {
  color: #7971ae;
}
svg {
  color: #686868;
  margin-right: 0.8em;
}
/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 500 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/
@media (min-width: 31.25em) {
  /**************************************************************
    ******************         GENERAL          *******************
    **************************************************************/
  /*html{
        font-size: 1.5em;
    }*/
  /**************************************************************
    ***************         PAGE-CONTENT          *****************
    **************************************************************/
  .image {
    height: 400px;
  }
}
/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 600 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/
@media (min-width: 37.5em) {
  .image-comparisons article {
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 700 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/
@media (min-width: 43.75em) {
  /**************************************************************
    ******************         GENERAL          *******************
    **************************************************************/
  /*html{
        font-size: 2em;
    }*/
  /**************************************************************
    ******************         HEADER          *******************
    **************************************************************/
  header .content {
    max-width: 900px;
    margin: 0 auto;
  }
  /**************************************************************
    ******************         PAGE-CONTENT          *******************
    **************************************************************/
  .text .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .text {
    padding: 3em;
    text-align: center;
  }
  /**************************************************************
    ******************         GALLERY           ******************
    **************************************************************/
  .grid-item {
    margin-bottom: 3%;
  }
  .grid-item,
  .grid-sizer {
    width: 31.33%;
  }
  .gutter-sizer {
    width: 3%;
  }
}
/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 900 PIXELS WIDE             ***********************************
***************************                  - MENU CHANGE                    ***********************************
*****************************************************************************************************************
****************************************************************************************************************/
@media (min-width: 56.25em) {
  /**************************************************************
    ******************         GENERAL          *******************
    **************************************************************/
  /*html{
        font-size: 2em;
    }*/
  /**************************************************************
    ******************         HEADER          *******************
    **************************************************************/
  header {
    padding: 0 1em;
    text-align: left;
  }
  .menu {
    display: none;
  }
  /*****************   NAV   *****************/
  /*********************************
    ******      GENERAL      ********
    ********************************/
  nav {
    border-bottom: none;
    display: block;
    float: right;
    background: transparent;
    overflow-y: visible;
    padding-bottom: 0;
    position: relative;
    text-align: right;
    top: 0;
    width: 70%;
    z-index: 1;
  }
  nav ul > li {
    display: inline-block;
  }
  /* Remove dividing line between menu items - no longer needed */
  nav > ul li:not(:last-child) {
    border-bottom: none;
  }
  /* Remove the dropdown from "parent" list items */
  nav > ul li.parent,
  nav > ul li ul li.parent,
  nav > ul li ul li ul li.parent {
    background-image: none;
  }
  /* If the list item is a parent, make it full width again. No longer need a button to click to drop down a menu, hover instead on desktop layout */
  nav > ul li.parent > a {
    width: 100%;
  }
  /* When a "parent" list item is hovered over, show its child menu */
  li.parent:hover > ul {
    display: block;
  }
  /* All child menus need to have this styling - regardless of what level they are */
  nav > ul > li ul {
    position: absolute;
    text-align: left;
    width: auto;
  }
  /* Make the list items for child menus stack vertically ontop of each other, instead of side by side */
  nav > ul > li ul li {
    display: block;
  }
  /* Make sure menu item labels all stay on one line */
  nav > ul > li ul li a {
    white-space: nowrap;
  }
  /* When you hover over an li, change its colour. This is global but you can set it by level if required */
  nav > ul li:hover {
    background: #fff;
  }
  nav > ul a {
    background: transparent;
  }
  /* Set the height of everything so it matches the height of the header and the list item labels are vertically centered*/
  nav,
  nav > ul,
  nav > ul > li {
    height: 100px;
  }
  nav > ul > li > a {
    line-height: 100px;
    padding: 0 1em;
  }
  /*********************************
    ******     1st LEVEL     ********
    ********************************/
  nav > ul > li > a,
  nav > ul > li.parent {
    background: transparent;
  }
  /*********************************
    ******     2nd LEVEL     ********
    ********************************/
  nav > ul > li > ul > li {
    position: relative;
  }
  nav > ul > li > ul > li > a {
    background: transparent;
  }
  nav > ul > li > ul > li,
  nav > ul > li > ul > li.parent {
    background: #fff;
  }
  /*********************************
    ******     3rd LEVEL     ********
    ********************************/
  nav > ul > li > ul > li > ul {
    left: 100%;
    top: 0;
    width: auto;
  }
  nav > ul > li > ul > li > ul > li {
    width: 100%;
  }
  nav > ul > li > ul > li > ul > li > a {
    background: transparent;
  }
  nav > ul > li > ul > li > ul > li,
  nav > ul > li > ul > li > ul > li.parent {
    background: #eeeeee;
  }
}
/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 1000 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/
@media (min-width: 1000px) {
  /**************************************************************
    ******************         GALLERY           ******************
    **************************************************************/
  .gallery-container {
    padding: 2em;
  }
  .grid-item,
  .grid-sizer {
    width: 22.75%;
  }
  .gutter-sizer {
    width: 3%;
  }
}
